In [44]:
import numpy as np
import pandas as pd

In [45]:
dots = pd.read_csv("csvFiles/dots.csv")
dots.head()

  align choice  time  coherence  firing_rate
0  dots     T1   -80        0.0    33.189967
1  dots     T1   -80        3.2    31.691726
2  dots     T1   -80        6.4    34.279840
3  dots     T1   -80       12.8    32.631874
4  dots     T1   -80       25.6    35.060487

In [12]:
Q1 = dots['firing_rate'].mean()

In [14]:
Q2 = dots['time'].max()

In [25]:
Q3 = dots.groupby('choice').aggregate({'time': 'mean', 'coherence': 'mean', 'firing_rate': 'mean'})

In [28]:
Q4 = dots.groupby('align')['firing_rate'].min()

In [30]:
Q5 = dots.groupby(['align', 'choice'])['firing_rate'].mean().unstack()

In [32]:
Q6 = dots.pivot_table('firing_rate', index = 'align', columns = 'choice')

In [46]:
tips = pd.read_csv("csvFiles/tips.csv")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [35]:
Q7 = tips.pivot_table('total_bill', ['sex', 'smoker'], 'time')

In [39]:
tip = pd.cut(tips['tip'], [0, 5, 10])
Q8 = tips.pivot_table('total_bill', ['sex', tip], 'smoker')

In [42]:
Q9 = tips.pivot_table(index = 'sex', columns = 'smoker', aggfunc = {'size': 'sum', 'tip': 'max', 'total_bill': 'mean'})